# Ignorar la carpeta obj
obj/

# Ignorar la carpeta bin
bin/

# Ignorar el archivo Program.cs
Program.cs

# Ignorar el archivo BuscaMinas.csproj
BuscaMinas.csproj

# Ignorar todos los archivos terminados en .sln
*.sln