# Ignorar la carpeta obj
obj/

# Ignorar la carpeta bin
bin/

# Ignorar el archivo Program.cs
Program.cs

# Ignorar el archivo BuscaMinas.csproj
BuscaMinas.csproj

# Ignorar el archivo Universidad.sln
Universidad.sln

BuscaMinas.sln